@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    font-family: "Oswald", sans-serif;
    font-size: 13px;
    padding: 30px;
    background: #efeef4;
}

#container {
    position: relative;
    min-height: 2000px;
    /* Adjust this value as needed */
    min-width: 2000px;
}


#title {
    position: absolute;
    height: 5em;
    width: 150em;
    background: #b1bbd9;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    padding-top: 8px;
    padding-left: 8px;
}

#filter-panel {
    position: absolute;
    width: 20em;
    top: 150px;
    background: #b1bbd9;
    height: 50em;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    padding: 2em;
    /* Adjust left property to leave space for the scroll */
    /* left: calc(50vw + 50%); */
    /* Adjust right property to position it relative to #container */
    right: calc(50vw - 50%);
    /* Use overflow-y to ensure vertical scroll doesn't affect layout */
    overflow-y: auto;
}

.legend-color {
    display: inline-block;
    width: 20px;
    height: 20px;
}

#linechart {
    background: white;
    padding: 2em;
    height: 32em;
    margin-left: 11px;
    width: 60em;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0;
    top: 55em;
}

#textbox {
    background: white;
    padding: 2em;
    height: 32em;
    margin-left: 11px;
    width: 60em;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 80em;
    top: 55em;
}


#barchart {
    background: white;
    padding: 2em;
    height: 32em;
    margin-left: 11px;
    margin-bottom: 16px;
    width: 60em;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0;
    top: 10em;
}

#choroplethchart {
    background: white;
    padding: 2em;
    height: 32em;
    margin-left: 11px;
    width: 60em;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 80em;
    top: 10em;
}

#textbox .container {
    display: flex;
}

h1 {
    margin-top: 0;
    font-style: italic;
}

.axis text {
    font-size: 13px;
    fill: #6b6b6b;
}

.axis-title {
    font-size: 13px;
    fill: #888;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    flex: 1;
    width: calc(33.33% - 20px);
    /* Adjust margin */
    margin: 10px;
    /* Adjust margin */
    background-color: #f0f0f0;
    padding: 20px;
}